@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Category>
@{

}

@{
    Pager pager = new Pager();

}
<div class="container">

    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Category" asp-action="Index" asp-route-pg="@pge"> @pge </a>
                </li>
            }
        </ul>
    }
</div>


<h1>Category Index</h1>
<p>
    <a asp-action="Create">Add Category</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Category Id</th>
            <th>Category Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td>
                    <a asp-action="Edit" asp-route-categoryId="@item.CategoryId">Edit</a>
                    <a asp-action="Details" asp-route-categoryId="@item.CategoryId">Details</a>
                    <a asp-action="Delete" asp-route-categoryId="@item.CategoryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

